<div class="banner" style="background-image: url(<%= image_url "Flaming-drinks.jpg"%>);">



  <div class="container">
    <h1>Le Cask brings <strong>drink skills</strong> to <strong>thirsty people</strong>!</h1>
    <p>Change your life drink and enjoy</p>
    <a class="btn btn-flat" href="#">get random cocktail</a>
  </div>
</div>
